<!DOCTYPE html>
<html>
  <head>
      {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
      {{ end }}
      <a id="top"></a>
      <meta charset="utf-8">
      <meta name="viewport" 
          content="width=device-width, initial-scale=1.0">
      <title>{{ .Site.Params.Title }}</title>
      
      {{ with .Site.Params.favicon }}
        <link rel="icon" href="{{ . | absURL }}" sizes="64x64" type="image/png">
      {{ end }}
      
      <link rel="stylesheet" href="{{ "styles/style.css" | relURL }}">  

      <link rel="stylesheet" href="/css/syntax.css">
      {{ partialCached "math.html" . }}
  </head>
  <body> 
    {{- partial "header.html" . -}}
    <div id="content">
    {{- block "main" . }}{{- end }}
    </div>
    {{- partial "footer.html" . -}}
  </body>
</html>
