<!DOCTYPE html>
<html>
  <head>
      <a id="top"></a>
      <meta charset="utf-8">
      <meta name="viewport" 
          content="width=device-width, initial-scale=1.0">
      <title>My site</title>
      <link rel="stylesheet" href="{{ "styles/style.css" | relURL }}">  

      <link rel="stylesheet" href="/css/syntax.css">
      {{ partialCached "math.html" . }}
  </head>
  <body> 
    {{- partial "header.html" . -}}
    <div id="content">
    {{- block "main" . }}{{- end }}
    </div>
    {{- partial "footer.html" . -}}
  </body>
</html>
